{% comment %}
  Renders a cta button for mobile and desktop.

  Usage:
  {% render 'header-landing-cta' %}
{% endcomment %}

<span
  class="tailwind show-desktop"
>
  {% if template.name == 'index' %}
    <a
      id="cta_button__header_landing__start-the-test"
      href="#start-the-test"
      class="inline-flex items-center rounded-xl bg-highlight px-3.5 py-2.5 text-sm font-medium text-white shadow-sm"
    >
      Start the test
    </a>
  {% endif %}
</span>
