{% comment %}
  Renders the default landingpage menu within an EXISTING!!! <ul>.

  Usage:
  {% render 'landingpage-menu' %}
{% endcomment %}
{% if template.name == 'index' %}
  <!-- About us -->
  <li>
    <a
      id="HeaderMenu-FAQ"
      href="https://www.tena.co.uk/about-tena"
      target="_blank"
      rel="noreferrer noopener"
      class="header__menu-item list-menu__item link link--text focus-inset !text-white"
      {% if link.current %}
        aria-current="page"
      {% endif %}
    >
      <span
        {%- if link.current %}
          class="header__active-menu-item !no-underline hover:no-underline !text-white"
        {% endif %}
      >
        <span class="!no-underline !hover:no-underline !text-base !text-white hover:text-highlight"> About Us </span>
      </span>
    </a>
  </li>
{%- endif -%}
