{% comment %}
  Renders the default landingpage menu links within an EXISTING!!! mobile drawer menu.

  Usage:
  {% render 'landingpage-menu-mobile' %}
{% endcomment %}

<!-- Features -->
<li>
  <a
    id="HeaderDrawer-features"
    href="#app-details"
    class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %}"
    onClick="window.location.reload()"
  >
    Features
  </a>
</li>
<!-- Pricing -->
<li>
  <a
    id="HeaderDrawer-pricing"
    href="#pricing"
    class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %}"
    onClick="window.location.reload()"
  >
    Pricing
  </a>
</li>
<!-- FAQ -->
<li>
  <a
    id="HeaderDrawer-faq"
    href="#faq"
    class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %}"
    onClick="window.location.reload()"
  >
    Faq
  </a>
</li>
