<div
  id="{{ section.settings.scrollID }}"
  data-section-id="{{ section.id }}"
  {{ block.shopify_attributes }}
  class="casestudies-section tailwind"
>
  <!-- Case Studies -->
  <div class="py-24 bg-white sm:py-32" >
    <div class="px-6 mx-auto max-w-7xl lg:px-8">
      <div class="max-w-4xl mx-auto text-center">
        <p class="mt-2 text-3xl font-bold text-gray-800 lg:text-4xl {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
          The Bladder Sensor helps with different kinds of incontinence
        </p>
      </div>
      <p class="max-w-2xl mx-auto mt-6 text-lg leading-8 text-center text-gray-600 {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        Case studies from some of our amazing customers.
      </p>

      <div class="grid max-w-md  grid-cols-1  gap-16 mx-auto mt-20 isolate lg:mx-0 lg:max-w-none lg:grid-cols-2 {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"">

        <div class="p-8 bg-primary ring-1 xl:p-10 min-h-[300px] hover:bg-primary/75 cursor-pointer transition-all duration-200 {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"">
          <h3 class="text-2xl font-semibold leading-8 text-white">Urge incontinence</h3>
          <ul role="list" class="mt-8 space-y-3 leading-6 text-white xl:mt-10">
            <li class="flex gap-x-3">
              <svg class="flex-none w-5 h-6 text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              Understand at night if you really need to go to the toilet
            </li>
            <li class="flex gap-x-3">
              <svg class="flex-none w-5 h-6 text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              Recalibrate your bladder
            </li>
            <li class="flex gap-x-3">
              <svg class="flex-none w-5 h-6 text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              Train your mind
            </li>
          </ul>
        </div>

        <div class="p-8 bg-primary ring-1 xl:p-10 min-h-[300px] hover:bg-primary/75 cursor-pointer transition-all duration-200 {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"">
          <h3 class="text-2xl font-semibold leading-8 text-white">Overflow incontinence</h3>
          <ul role="list" class="mt-8 space-y-3 leading-6 text-white xl:mt-10">
            <li class="flex gap-x-3">
              <svg class="flex-none w-5 h-6 text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              Understand your bladder better
            </li>
            <li class="flex gap-x-3">
              <svg class="flex-none w-5 h-6 text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              Check if you bladder is really empty
            </li>
            <li class="flex gap-x-3">
              <svg class="flex-none w-5 h-6 text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              Recalibrate your bladder feeling
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- End Case Studies -->
</div>

{% schema %}
{
  "name": "Case Studies",
  "settings": [
    {
      "id": "casestudies",
      "type": "text",
      "label": "ID",
      "default": "ID"
    }
  ],
  "presets": [
    {
      "name": "casestudies",
      "category": "Custom"
    }
  ]
}
{% endschema %}
