<div class="getyourproduct-section tailwind" {{ block.shopify_attributes }}>

    <!-- Buy Your Product -->
    <div class="relative flex justify-center h-screen max-w-6xl mx-auto bg-gradient-to-r from-white via-white to-gray-100 lg:block">
        <!-- Form -->
        <div class="max-w-[60rem] px-4 py-12 sm:px-6 md:px-8">
            <div class="flex items-center justify-center px-4 md:pl-0 md:pr-6 2xl:px-0 2xl:mx-auto 2xl:container">
                    <div class="flex flex-col items-start justify-start w-full space-y-9">
                        <div class="flex flex-col items-start justify-start space-y-3 {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
                            <!-- Back Button -->
                            <button onclick="history.go(-1)" class="flex flex-row items-center space-x-1 text-gray-600 dark:text-white hover:text-gray-500">
                                <svg class="fill-stroke" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2.91681 7H11.0835" stroke="currentColor" stroke-width="0.666667" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M2.91681 7L5.25014 9.33333" stroke="currentColor" stroke-width="0.666667" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M2.91681 7.00002L5.25014 4.66669" stroke="currentColor" stroke-width="0.666667" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                                <p class="text-sm leading-none">Back</p>
                            </button>
                            <!-- Page Title -->
                            <h1 class="block max-w-sm text-3xl text-copy sm:text-4xl lg:text-5xl lg:leading-tight dark:text-white">
                                Get <span class="text-primary">your</span> bladder sensor now.
                            </h1>
                            <p class="text-xl font-light text-primary lg:leading-tight">Your selected Plan:</p>
                        </div>

                        <div class="flex flex-col justify-center w-full space-y-6 xl:flex-row xl:justify-between xl:space-y-0 xl:space-x-6">

                            <!-- Card: Monthly -->
                            <div id="monthly" class="hidden group flex flex-col h-full bg-gradient-to-r from-gray-100 via-white to-gray-100 mt-4 rounded-xl dark:bg-slate-900 dark:border-gray-700 dark:shadow-slate-700/[.7] {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
                                <div class="flex flex-col items-center justify-center h-28 rounded-t-xl">
                                    <div class="flex justify-center mt-6 w-33 sm:mt-0 xl:my-10">
                                        <img src="{{ 'getyourproduct.png' | asset_url }}" alt="Get your product" width="200" height="200" loading="lazy" />
                                    </div>
                                </div>
                                <div class="p-4 md:p-6">
                                    <span class="block mb-1 text-xs font-semibold uppercase text-highlight dark:text-rose-500">
                                    Sensa Monthly
                                    </span>
                                    <h3 class="text-xl font-semibold text-gray-800 dark:text-gray-300 dark:hover:text-white">
                                    £39 per month
                                    </h3>
                                    <p class="mt-3 text-gray-500">
                                    Rent your bladder sensor. +£149 one time deposit.
                                    </p>
                                </div>
                            </div>
                            <!-- End Card -->

                            <!-- Card: Quarterly -->
                            <div id="quarterly"  class="hidden group flex flex-col h-full bg-gradient-to-r from-gray-100 via-white to-gray-100 mt-4 rounded-xl dark:bg-slate-900 dark:border-gray-700 dark:shadow-slate-700/[.7] {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
                                <div class="flex flex-col items-center justify-center h-32 rounded-t-xl">
                                    <div class="flex justify-center mt-6 w-33 sm:mt-0 xl:my-10">
                                        <img src="{{ 'getyourproduct.png' | asset_url }}" alt="Get your product" width="200" height="200" loading="lazy" />
                                    </div>
                                </div>
                                <div class="p-4 md:p-6">
                                    <span class="block mb-1 text-xs font-semibold uppercase text-highlight dark:text-rose-500">
                                    Sensa Quarterly
                                    </span>
                                        <h3 class="text-xl font-semibold text-gray-800 dark:text-gray-300 dark:hover:text-white">
                                        £29 per month
                                        </h3>
                                        <p class="mt-3 text-gray-500">
                                        Rent your bladder sensor. +£149 one time deposit.
                                        </p>
                                    </div>
                                </div>
                            <!-- End Card -->

                           <!-- Card: Purchase -->
                            <div id="purchase" class="hidden group flex flex-col h-full bg-gradient-to-r from-gray-100 via-white to-gray-100 mt-4 rounded-xl dark:bg-slate-900 dark:border-gray-700 dark:shadow-slate-700/[.7] {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
                                <div class="flex flex-col items-center justify-center h-32 rounded-t-xl">
                                    <div class="flex justify-center mt-6 w-33 sm:mt-0 xl:my-10">
                                        <img src="{{ 'getyourproduct.png' | asset_url }}" alt="Get your product" width="200" height="200" loading="lazy" />
                                    </div>
                                </div>
                                <div class="p-4 md:p-6">
                                    <span class="block mb-1 text-xs font-semibold uppercase text-highlight dark:text-rose-500">
                                    One Time Purchase
                                    </span>
                                    <h3 class="text-xl font-semibold text-gray-800 dark:text-gray-300 dark:hover:text-white">
                                     £499
                                    </h3>
                                    <p class="mt-3 text-gray-500">
                                    Buy your bladder sensor. Necessary adhesive materials can be bought seperately at our Sensa Online Shop.
                                    </p>
                                </div>
                            </div>
                            <!-- End Card -->

                            <!-- Form -->
                            <div class="flex flex-col p-8 bg-gradient-to-r from-gray-100 via-white to-gray-50 lg:w-full xl:w-3/5 rounded-xl {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">


                                <a id="proceed-to-checkout" href="/pages/early-access-program" class="cursor-pointer inline-flex items-center justify-center gap-x-2 rounded-3xl bg-gradient-to-r from-primary via-accent to-orange-600 hover:bg-gradient-to-l hover:scale-105 transition-all px-6 py-3.5 text-base font-medium  text-white shadow-lg focus:outline-none">
                                    <div>
                                        <p class="text-base leading-4">Proceed to Checkout</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>



        </div>

        <!-- Image -->
        <div class=" lg:block lg:absolute md:top-0 md:left-1/2 md:right-0 h-full bg-[url('https://images.pexels.com/photos/7679649/pexels-photo-7679649.jpeg')] bg-no-repeat bg-center bg-cover "></div>
      <!-- End Col -->
    </div>
    <!-- End -->
  </div>
</div>

{% javascript %}
  document.addEventListener('DOMContentLoaded', () => {
    // Get the PRICING params from the URL

    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);

    const pricing_plan = urlParams.get('plan');

    // Get the pricing plan element
    const pricingPlanCard = document.getElementById(pricing_plan);

    // Remove hidden for actvive plan to dhow the selceted Pricing Plan
    pricingPlanCard.classList.remove('hidden');

    // Add query param to the link
    document.getElementById('proceed-to-checkout').href = "/pages/early-access-program?plan=" + pricing_plan;
  });
{% endjavascript %}

{% schema %}
{
  "name": "Get Your Sensor",
  "settings": [
    {
      "id": "getyourproduct_title",
      "type": "text",
      "label": "Title",
      "default": "Get your Sensa now"
    }
  ],
  "presets": [
    {
      "name": "getyourproduct",
      "category": "Custom"
    }
  ]
}
{% endschema %}
