<div class="sensa-hero-section">
  <div>MySensa</div>
</div>
{% schema %}
{
  "name": "Hero Section",
  "settings": [
    {
      "id": "sensa_hero_title",
      "type": "text",
      "label": "Text box heading",
      "default": "Deploy to the cloud with confidence"
    },
    {
      "id": "sensa_hero_body",
      "type": "richtext",
      "label": "Add custom text below",
      "default": "<p>Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat aliqua.</p>"
    }
  ],
  "presets": [
    {
      "name": "sensa-hero",
      "category": "Custom"
    }
  ]
}
{% endschema %}
